{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
    <div class="mt-5">
        <h1>Sobre Nosotros</h1>
        <p>En un mundo donde los superhéroes usan capas y mallas ajustadas, aquí llega Django, el tipo que simplemente usa un sombrero y una pistola.</p>
        <p>Nos enorgullece decir que hemos aprendido todas nuestras habilidades de Django: disparar sin mirar, montar a caballo como un profesional y, por supuesto, eliminar villanos con estilo.</p>
        <p>Así que si buscas aventuras, acción y un poco de sarcasmo, has llegado al lugar correcto. ¡Bienvenido a nuestro pequeño rincón del Salvaje Oeste!</p>
    </div>
{% endblock %}
